.main-title{
    font-size:52px;
    font-weight:800;
    text-align:center;
    color:#2563EB;
}

.subtitle{
    text-align:center;
    font-size:22px;
    color:#666;
    margin-bottom:25px;
}

.subject-card{
    padding:18px;
    border-radius:18px;
    background:#F8FAFC;
    text-align:center;
    border:2px solid #E5E7EB;
    transition:0.3s;
}

.subject-card:hover{
    transform:scale(1.03);
    border-color:#2563EB;
}

.footer{
    text-align:center;
    color:gray;
    margin-top:40px;
}